            {{#user.admin}}
            <a href="{{adminUrl}}">Admin</a> | <a href="{{hashUrl}}">Hash</a>
            {{/user.admin}}
            {{^user.admin}}
            <a href="{{scriptName}}/">Home</a>
            {{/user.admin}}
