          {{#user}}
            <a href="{{#signIn}}{{dashboardUrl}}{{/signIn}}">Dashboard</a>
            {{#admin}}
            | <a href="{{#option}}{{scriptName}}{{/option}}/hash">Hash</a>
            {{/admin}}
          {{/user}}
