          {{#user}}
          <p>
            {{#user.admin}}
            Admin
            {{/user.admin}}
            <strong>{{username}}</strong>
            <a href="{{signOutURL}}">Sign Out</a>
          </p>
          {{/user}}
