{{>top}}        
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Signed Out</h1>
      <p>You have been signed out successfully.</p>
    </div>
  </div>
</div>
{{>bottom}}
