<html>
<head>
<meta http-equiv="refresh" content="1; url={{#signIn}}{{{dashboardUrl}}}{{/signIn}}">
</head>
<body>
<div id="pjax-container">
  <script>
    if (typeof $ !== 'undefined' && typeof $.pjax !== 'undefined') {
      $.pjax({url: '{{#signIn}}{{{dashboardUrl}}}{{/signIn}}', fragment: '#pjax-container', container: '#pjax-container'});
    } else {
      window.location.href='{{#signIn}}{{{dashboardUrl}}}{{/signIn}}'
    }
  </script>
</div>
</body>
</html>
